body {
    margin: 0;
    padding: 0;
    background: #292929;
    color: white;
}

.tilesWrapper {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 1rem;
    padding: 1rem;
}

.tiles {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: stretch;
    justify-content: 1rem;
}

.tile {
    font: inherit;
    display: block;
    box-sizing: content-box;
    font-size: inherit;
    flex: 1 0 40%;
    height: 15vh;
    text-align: center;
    color: white;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3c3c3c;
    margin: 3px;
    border: none;
    border-radius: 10px;
}

.title {
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

.tile:disabled {
    background: orange;
}

/* sliders  */

.range {
    max-width: 300px;
    margin: 2rem auto;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    height: 12px;
    background: linear-gradient(to right, #31313100, orange);
    outline: none;
}

.range:hover {
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 42px;
    background: #d6d6d6;
    border-bottom: 6px solid #797979;
    border-radius: 3px;
    cursor: pointer;
}

.range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 42px;
    background: #d6d6d6;
    border-bottom: 6px solid #797979;
    border-radius: 3px;
    cursor: pointer;
}
